@font-face {
    font-family:'NimbusSans';
    src: local('NimbusSans'), url(../../assets/fonts/NimbusSansDOT-Bold.ttf) format('truetype');
}

$backgound_color: #15202b;

.nav-bar {
    position: fixed;
    height: 15vh;
    width: 100%;
    margin: 0;
    position: relative;
    background: $backgound_color;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #2b353f;
    font-family: 'NimbusSans';
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .4px;
}

Button {
    font-family: 'NimbusSans';
    background: red;
}



