$backgound_color: #15202b;

.carousel-img {
    height: 70vh;
}

.form-container {
    width: 100%;
    background: $backgound_color;
    color: white;
}

.btn-form {
    margin-top: 3em;
    margin-left: 1em;
}
