$backgound_color: #15202b;
@font-face {
    font-family:'NimbusSans';
    src: local('NimbusSans'), url(../../assets/fonts/NimbusSansDOT-Bold.ttf) format('truetype');
}

.app-footer {
    font-family: 'NimbusSans';
    background: $backgound_color;
    color: white;
}

.soc-net-img {
    width: 4em;
    height: 4em;
}

.mobile-app-img {
    width: 10em;
    height: 10em;
}

.p-2 {
    padding: 2em;
}

.mob-app-marg {
    padding: 4em 1em;
}